.title-field .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 4px 4px 0 0;
}
.content-field .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0 0 4px 4px;
}

.message-item.MuiPaper-root {
    margin-top: 10px;
    margin-bottom: 1px;
    width: fit-content;
}
.message-item .MuiTypography-h6 {
    font-size: 1.1rem;
}
.message-item .css-ahj2mt-MuiTypography-root {
    font-size: 0.8rem;
    opacity: 0.8;
}
.message-item .css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 5px;
}
.message-item .css-46bh2p-MuiCardContent-root {
    padding: 5px 10px;
}
