.title-field .MuiInputBase-root {
    border-radius: 4px 4px 0 0;
}
.content-field .MuiInputBase-root {
    border-radius: 0 0 4px 4px;
}

.message-item.MuiPaper-root {
    margin-top: 10px;
    margin-bottom: 1px;
    width: fit-content;
}
.message-item .MuiTypography-h6 {
    font-size: 1.1rem;
}
.message-item .MuiTypography-body1 {
    font-size: 0.8rem;
    opacity: 0.8;
}
.message-item .MuiCardContent-root:last-child {
    padding-bottom: 5px;
}
.message-item .MuiCardContent-root {
    padding: 5px 10px;
}
